<footer class="footer">
    <p class="fpara">
        <span>&copy;</span>
        <span id="date">{{dum}}</span>
        <span class="fresh">Fresh</span>
        built by <a class="make" href="#">Fresh Industries</a> 
    </p>
</footer>