.make{
    text-decoration: none;
}
.footer{
    height: 4rem;
    background: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fresh , .make{
    color: royalblue;
}