<main class="main">
    <section class="about">
        <article>
            <h2>this is recipes info</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley 
                of type and scrambled it to make a type specimen book.
            </p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <a href="" class="about-link">Contact</a>
        </article>
        <img src="assets/images/recipes-m5.jpg" alt="" class="about-image">
    </section>
    <section class="recipes-features">
        <h4 class="recipe-title">Look At This Awesome source!</h4>
        <div class="main-list">
            <a href="" routerLink="/recipeslist" class="recipes">
                <img src="assets/images/recipes-m1.jpg" alt="" class="recipes-img">
                <h5>beef</h5>
                <p>prep : 15min | cook : 5min</p>
            </a>
            <a href="" routerLink="/recipeslist" class="recipes">
                <img src="assets/images/recipes-m2.jpg" alt="" class="recipes-img">
                <h5>breakfast</h5>
                <p>prep : 15min | cook : 5min</p>
            </a>
            <a href="" routerLink="/recipeslist" class="recipes">
                <img src="assets/images/recipes-m3.jpg" alt="" class="recipes-img">
                <h5>carrot recipes</h5>
                <p>prep : 15min | cook : 5min</p>
            </a>
            <a href="" routerLink="/recipeslist" class="recipes">
                <img src="assets/images/recipes-m4.jpg" alt="" class="recipes-img">
                <h5>noodles</h5>
                <p>prep : 15min | cook : 5min</p>    
            </a>
        </div>
    </section>
</main>