<main class="main">
    <section class="contact-container">
        <article>
            <h3>Want To Get In Touch</h3>
            <p>It is a long established fact that a reader will be 
                distracted by the readable content of a page when looking at its layout.
            </p>
            <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose</p>
            <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, 
                and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
            </p>
        </article>
        <article class="">
            <form action="" class="froms form-class">
                <div class="row all-size">
                    <label for="name">your Name</label>
                    <input type="text" class="theme">
                </div>
                <div class="mail all-size">
                    <label for="email">your Email</label>
                    <input type="email" class="theme">
                </div>
                <div class="msg all-size">
                    <label for="message">Message</label>
                    <textarea rows="3" cols="30" name="comment"  class="theme"></textarea>
                </div>
                <a class="btn">Submit</a>
            </form>
        </article>
    </section>
<section class="recipes-features">
    <h4 class="recipe-title">Look At This Awesome source!</h4>
    <div class="main-list">
        <a href="" routerLink="/recipeslist" class="recipes">
            <img src="assets/images/recipes-m1.jpg" alt="" class="recipes-img">
            <h5>beef</h5>
            <p>prep : 15min | cook : 5min</p>
        </a>
        <a href="" routerLink="/recipeslist" class="recipes">
            <img src="assets/images/recipes-m2.jpg" alt="" class="recipes-img">
            <h5>breakfast</h5>
            <p>prep : 15min | cook : 5min</p>
        </a>
        <a href="" routerLink="/recipeslist" class="recipes">
            <img src="assets/images/recipes-m3.jpg" alt="" class="recipes-img">
            <h5>carrot recipes</h5>
            <p>prep : 15min | cook : 5min</p>
        </a>
        <a href="" routerLink="/recipeslist" class="recipes">
            <img src="assets/images/recipes-m4.jpg" alt="" class="recipes-img">
            <h5>noodles</h5>
            <p>prep : 15min | cook : 5min</p>    
        </a>
    </div>
</section>
</main>