<main class="main">
    <div class="recipes-page">
        <section class="recipes-head">
            <img class="recipe-img" src="../../assets/images/pan.jpg" alt="">
            <article>
                <h2>Banana Pancakes</h2>
                <p class="rep">
                    here are many variations of passages of Lorem Ipsum available, but the majority have 
                    suffered alteration in some form, by injected humour, or randomised words which don't 
                    look even slightly believable. If you are going to use a passage of Lorem Ipsum, you 
                    need to be sure there isn't anything embarrassing hidden in the middle of text. All the 
                    Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making 
                    this the first true generator on the Internet.
                </p>
                <div class="recipe-icon">
                    <article>
                        <i class="fas fa-clock"></i>
                        <h5>Prep time</h5>
                        <p>30 min</p>
                    </article>
                    <article>
                        <i class="fas fa-clock"></i>
                        <h5>Cook time</h5>
                        <p>15 min</p>
                    </article>
                    <article>
                        <i class="fas fa-user-friends"></i>
                        <h5>serving</h5>
                        <p>6 serving</p>
                    </article>
                </div>
                    <div class="recipes-tag">
                        Tags: <a href="">Beef</a>
                        <a href="">Breakfast</a>
                        <a href="">Pan cakes</a>
                        <a href="">Food</a>
                    </div>
                
            </article>
        </section>
        <section class="recipe-content">
            <article>
                <h3>instruction</h3>
                <div class="first-instruction">
                    <header>
                        <p>step 1</p>
                        <div><hr></div>
                    </header>
                    <p>
                        All the Lorem Ipsum generators on the Internet tend to repeat predefined 
                        chunks as necessary
                    </p>
                </div>
                <div class="first-instruction">
                    <header>
                        <p>step 2</p>
                        <div><hr></div>
                    </header>
                    <p>
                        All the Lorem Ipsum generators on the Internet tend to repeat predefined 
                        chunks as necessary, making this the first true generator on the Internet.
                    </p>
                </div>
                <div class="first-instruction">
                    <header>
                        <p>step 3</p>
                        <div><hr></div>
                    </header>
                    <p>
                        All the Lorem Ipsum generators on the Internet tend to repeat
                    </p>
                </div>
            </article>
            <article class="second">
                <div>
                    <h3>ingredient</h3>
                    <p class="part-ingredient">
                        1 1/2 cups dry pancake mix
                    </p>
                    <p class="part-ingredient">
                        1/2 cups flax seed meal
                    </p>
                    <p class="part-ingredient">
                        1 cups skim milk
                    </p>
                </div>
                <div>
                    <h3>tools</h3>
                    <p class="part-tools">hand blender</p>
                    <p class="part-tools">large heavy pot with lid</p>
                    <p class="part-tools">measuring spoons</p>
                    <p class="part-tools">measuring cups</p>
                </div>
            </article>
        </section>
    </div>
</main>