.main{
    max-width: 1120px;
    width: 90vw;
    margin: 0 auto;
    padding-top: 2rem;
    min-height: calc(100vh - (6rem + 4rem));
}

.recipes-head{
    display: grid;
    gap: 3rem;
    font-family: sans-serif;
}
.recipe-img{
    height: 300px;
    border-radius: 5px;
}
.recipes-head h2{
    margin-bottom: 0;
}
.rep{
    text-transform: capitalize;
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.recipe-icon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin: 2rem 0;
    text-align: center;
}
.recipe-icon i{
    font-size: 1.5rem;
    color: royalblue;
}
.recipes-tag{
    
    display: flex;
    align-items: center;
    font-size: 0.7em;
    font-weight: 600;
}
.recipes-tag a{
    text-decoration: none;
    color: #fff;
    padding: 0.05rem 0.5rem;
    background: rgb(115, 15, 230);
    border-radius: 2px;
    margin: 0 0.25rem;
    text-transform: capitalize;
}
@media screen And (min-width:992px){
    .recipes-head{
        grid-template-columns: 4fr 5fr;
        align-items: center;
    }
    .recipes-img{
       align-self: center;
       
    }
}
.recipe-content{
    padding: 3rem 0;
    display: grid;
    gap: 2rem 5rem;
}
@media screen And (min-width:992px){
    .recipe-content{
        grid-template-columns: 2fr 1fr;
    }
}
.recipe-content h3 , .second h3{
    text-transform: capitalize;
}
.first-instruction header{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    align-items: center;
}
.first-instruction header div hr{
    height: 2px;
    color: #000;
}
.first-instruction header p{
    text-transform: uppercase;
    font-weight: 600;
    color: #555;
    margin: 0;
}
.first-instruction > p{
    color: #444;
}
.second{
    display: grid;
    row-gap: 2rem;
}
.part-ingredient{
    border-bottom: 1px solid #555;
    padding-bottom: 0.75rem;
    color: #333;
}
.part-tools{
    border-bottom: 1px solid #555;
    padding-bottom: 0.75rem;
    color: #666;
    text-transform: capitalize;
}