<nav class="nanbar">
    <div class="nav-content">
        <div class="nav-head">
            <a href="#" class="nav-logo">
                <img src="assets/images/logoo.png" alt="">
            </a>
            <button type="button" (click)="fun()" class="nav-button"><i class="fa fa-align-justify" aria-hidden="true"></i></button>
        </div>
        <div class="nav-links" [class.show-links]="met" >
            <a href="" routerLink="/home" class="link">home</a>
            <a href="" routerLink="/about" class="link">about</a>
            <a href="" routerLink="/tags" class="link">tags</a>
            <a href="" routerLink="/recipes" class="link">recipes</a>
            <div class="link contact-link">
                <a href="" routerLink="/contact" class="button">contact</a>
            </div>
        </div>
    </div>
</nav>