.nav-logo img{
    height: 150px;
    width: 200px;
}
/* .nav-button .fa .fa-align-justify{
    color: royalblue;
    color: #fff;
} */
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nanbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav-content{
    width: 90vw;
    max-width: 1120px;
}
.nav-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}
.nav-button{
    padding: 0.25rem 0.75rem ;
    background-color: rgb(80, 111, 204);
    color: #fff;
    border-radius: 5px;
}
.nav-button i{
    font-size: 1.25rem;
}
.nav-links{
    display: flex;
    flex-direction: column;
    height: 0;
    transition: 0.5s ease-in;
    overflow: hidden;
}
.show-links{
    height: 310px;
}
.link{
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: #444;
    padding:1rem 0;
    border-top: 1px solid #555;
    transition: 0.5s ease-in;
}
.link:hover{
    color: #888;
}
.contact-link a{
    padding: 0.35rem 1rem;
}



.contact-link .button{
    background-color: royalblue;
    border-radius: 5px;
    height: 7pt;
    color: #fff;
    text-decoration: none;
    width: 100px;
    margin: 10px;
}

@media screen and (min-width:992px) {
    .nav-button{
        display: none;
    }
    .nanbar{
        height: 6rem;
    }
    .nav-content{
        display: flex;
        align-items: center;
    }
    .nav-head{
        height: auto;
        margin-right: 2rem;
    }
    .nav-links{
        height: auto;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .link{
        border-top: 0;
        padding: 0;
        margin-right: 1rem;
        font-size: 1.5rem;
    }
    .contact-link{
        margin-left: auto;
        padding: 5px;
        border-radius: 5px;
        margin-right: 0px;
    }
    
}