<!-- <div class="main-list">
    <a href="" class="recipes">
        <img src="../../assets/images/recipes-m1.jpg" alt="" class="recipes-img">
        <h5>beef</h5>
        <p>prep : 15min | cook : 5min</p>
    </a>
    <a href="" class="recipes">
        <img src="../../assets/images/recipes-m2.jpg" alt="" class="recipes-img">
        <h5>breakfast</h5>
        <p>prep : 15min | cook : 5min</p>
    </a>
    <a href="" class="recipes">
        <img src="../../assets/images/recipes-m3.jpg" alt="" class="recipes-img">
        <h5>carrot recipes</h5>
        <p>prep : 15min | cook : 5min</p>
    </a>
    <a href="" class="recipes">
        <img src="../../assets/images/recipes-m4.jpg" alt="" class="recipes-img">
        <h5>noodles</h5>
        <p>prep : 15min | cook : 5min</p>    
    </a>
</div> -->
<main class="main">
    <section class="tag-warp">
        <a href="" routerLink="/recipeslist" class="tag">
            <h5>Beef</h5>
            <p>1 recipes</p>
        </a>
        <a href="" routerLink="/recipeslist" class="tag">
            <h5>Breakfast</h5>
            <p>1 recipes</p>
        </a>
        <a href="" routerLink="/recipeslist" class="tag">
            <h5>Carrot</h5>
            <p>1 recipes</p>
        </a>
        <a href="" routerLink="/recipeslist" class="tag">
            <h5>Dinner</h5>
            <p>1 recipes</p>
        </a>
        <a href="" routerLink="/recipeslist" class="tag">
            <h5>Food</h5>
            <p>1 recipes</p>
        </a>
    </section>
</main>
