/* .recipes img{
    width: 250px;
    height: 200px;
    object-fit: cover;
}
.recipes-container{
    display: grid;
    gap: 2rem;
    
}
.tags-container{
    
    order: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}
.main-list{
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 3rem;
    
}
.tags-container h4{
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-weight: 500;
   
} 
.main-tags{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.main-tags a{
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    color: #666;
    transition: .5s ease-in;
}
.main-tags a:hover{
    color: #222;
}
.recipes{
    display: block;
    text-decoration: none;
}
.recipes-img{
    height: 15rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.recipes h5{
    line-height: 1;
    margin-bottom: 0;
    color: #444;
}
.recipes p{
    line-height: 1;
    margin-bottom: 0;
    margin-top: .5rem;
    color: #666;
    letter-spacing: 2px;
}
@media screen and (min-width:576px) {
    .main-list{
        grid-template-columns: 1fr 1fr;
    }
    .recipes-img{
        height: 10rem;
    }
}
@media screen and (min-width:992px){
    .recipes-container{
        grid-template-columns: 200px 1fr;
    }
    .recipes p{
        font-size: 0.85rem;
    }
    .tags-container{
        order: 0;
    }
    .main-list{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:1200px){
    .main-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .recipes h5{
        font-size: 1.15rem;
    }
}
 */
.main{
    max-width: 1120px;
    width: 90vw;
    margin: 0 auto;
    padding-top: 2rem;
    min-height: calc(100vh - (6rem + 4rem));
}
.tag-warp{
    display: grid;
    gap: 2rem;
    padding-bottom: 3rem;
}
.tag{
    text-decoration: none;
    background: rgb(150, 159, 238);
    padding: 0.75rem 0 ;
    border-radius: 5px;
    text-align: center;
}
.tag:hover{
    background: rgb(40, 133, 255);
}
.tag h5{
    font-size: 2.2rem;
    margin: 0%;
    font-family: sans-serif;
}
.tag p{
    font-size: 1.5rem;
    margin: 0%;
}
@media screen And (min-width:576px){
    .tag-warp{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen And (min-width:992px){
    .tag-warp{
        grid-template-columns: repeat(3,1fr);
    }
}