<main class="main">
    <h1>recipes for cook</h1>
    <div class="main-list">
        <a href="" class="recipes">
            <img src="assets/images/recipes-m1.jpg" alt="" class="recipes-img">
            <h5>beef</h5>
            <p>prep : 15min | cook : 5min</p>
        </a>
        <a href="" class="recipes">
            <img src="assets/images/recipes-m2.jpg" alt="" class="recipes-img">
            <h5>breakfast</h5>
            <p>prep : 15min | cook : 5min</p>
        </a>
        <a href="" class="recipes">
            <img src="assets/images/recipes-m3.jpg" alt="" class="recipes-img">
            <h5>carrot recipes</h5>
            <p>prep : 15min | cook : 5min</p>
        </a>
        <a href="" class="recipes">
            <img src="assets/images/recipes-m4.jpg" alt="" class="recipes-img">
            <h5>noodles</h5>
            <p>prep : 15min | cook : 5min</p>    
        </a>
    </div>
</main>