.main{
    max-width: 1120px;
    width: 90vw;
    margin: 0 auto;
    padding-top: 2rem;
    min-height: calc(100vh - (6rem + 4rem));
}
.main h1{
    text-transform: capitalize;
    padding-bottom: 2rem;
}
.recipes img{
    width: 250px;
    height: 200px;
    object-fit: cover;
}
.main-list{
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 3rem;
    
}
.recipes{
    display: block;
    text-decoration: none;
}
.recipes-img{
    height: 15rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.recipes h5{
    line-height: 1;
    margin-bottom: 0;
    color: #444;
}
.recipes p{
    line-height: 1;
    margin-bottom: 0;
    margin-top: .5rem;
    color: #666;
    letter-spacing: 2px;
}
@media screen and (min-width:576px) {
    .main-list{
        grid-template-columns: 1fr 1fr;
    }
    .recipes-img{
        height: 10rem;
    }
}
@media screen and (min-width:992px){
    .recipes-container{
        grid-template-columns: 200px 1fr;
    }
    .recipes p{
        font-size: 0.85rem;
    }
    .tags-container{
        order: 0;
    }
    .main-list{
        grid-template-columns: 1fr 1fr;
    }
    .main-tags{
        display: flex;
        flex-direction: column;
    }
    .main-links{
        padding-bottom: 0.50rem;
    }
}
@media screen and (min-width:1200px){
    .main-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .recipes h5{
        font-size: 1.15rem;
    }
}