<main class="main">
    <header class="head">
        <div class="main-content">
            <div class="main-text">
                <h1>simple recipes</h1>
                <h4>no fluff , just recipes</h4>
            </div>
        </div>
    </header>
    <section class="recipes-container">
        <div class="tags-container">
            <h4>recipes</h4> 
            <div class="main-tags">
                <a href="" class="main-links">beef (1)</a>
                <a href="" class="main-links">breakfast(2)</a>
                <a href="" class="main-links">carrot (3)</a>
                <a href="" class="main-links">food (4)</a>
            </div>
        </div>
        <div class="main-list">
            <a href="" routerLink="/recipeslist" class="recipes">
                <img src="assets/images/recipes-m1.jpg" alt="" class="recipes-img">
                <h5>beef</h5>
                <p>prep : 15min | cook : 5min</p>
            </a>
            <a href="" routerLink="/recipeslist" class="recipes">
                <img src="assets/images/recipes-m2.jpg" alt="" class="recipes-img">
                <h5>breakfast</h5>
                <p>prep : 15min | cook : 5min</p>
            </a>
            <a href="" routerLink="/recipeslist" class="recipes">
                <img src="assets/images/recipes-m3.jpg" alt="" class="recipes-img">
                <h5>carrot recipes</h5>
                <p>prep : 15min | cook : 5min</p>
            </a>
            <a href="" routerLink="/recipeslist" class="recipes">
                <img src="assets/images/recipes-m4.jpg" alt="" class="recipes-img">
                <h5>noodles</h5>
                <p>prep : 15min | cook : 5min</p>    
            </a>
        </div>
    </section>
</main>